@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Patrick+Hand+SC&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #0a0a23;
    --secondary: white;
    --ternary: #fdb347;
}

html {
    font-size: 16px; 
    font-family: 'Cabin', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

a {
    font-family: 'Patrick Hand SC', cursive, sans-serif;
    color: var(--secondary);
}

a:hover, a:focus {
    color: var(--ternary);
}

a:active {
    color: var(--ternary);
}

hr {
    height: 3px;
    background-color: var(--secondary);
}

/*Header*/
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--primary);
    padding: 0 10px;
}

.logo {
    width: min(10vw,50px);
    border-radius: 50%;
    margin-top: 5px;
}

.navbar > a {
    order: -1;
}

.navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.navbar ul:first-of-type {
    border-top: 3px solid var(--secondary);
}

.navbar li {
    list-style: none;
    font-size: 1.2em;
}

.navbar li a {
    text-decoration: none;
    color: var(--secondary);
    padding: 0.5rem;
    display: block;
}

.navbar li a:hover, .navbar li a:focus, .navbar li a:active{
    color: var(--ternary);
} 

.toggle-button {
    position: absolute;
    top: min(3vw,25px);
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 30px;
    cursor: pointer;
}

.toggle-button::after,
.toggle-button::before,
.toggle-button input {
    content: "";
    height: 5px;
    background-color: var(--secondary);
    border-radius: 10px;
    transition: opacity 200ms ease-in-out, width 200ms ease-in-out,  translate 200ms ease-in-out,  rotate 200ms ease-in-out;
    transform-origin: left center;
}

.toggle-button input {
    appearance: none;
    outline: none;
    pointer-events: none;
}

.toggle-button:has(input:checked)::before {
    rotate: 45deg;
    translate: 0 -1.5px;
}

.toggle-button:has(input:checked)::after {
    rotate: -45deg;
}

.toggle-button input:checked{
    opacity: 0;
    width: 0;
}

.toggle-button:has(input:checked) ~ ul {
    display: flex;
}

.toggle-button:has(input:focus-visible)::before,
.toggle-button:has(input:focus-visible)::after,
.toggle-button input:focus-visible {
    border: 1px solid var(--primary);
    box-shadow: 0 0 0 1px var(--secondary);
}

/*Footer*/
footer {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 15px;
    font-size: 1.2rem;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 30px;
}

#footer li{
    list-style: none;
}

#footer a{
    text-decoration: none;
}

.lists {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    font-style: italic;
    margin: 20px 0;
}

#socials {
    text-align: center;
}

#copyright {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
}

#copyright img {
    width: min(7vw,35px);
}

/*Home Page*/
#about {
    align-items: center;
    overflow-x: hidden;
    position: relative;
    background-color: var(--primary);
    background-image:url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#about > hgroup {
    width: min(55%,358px);
    z-index: 3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4vw;
    color: var(--secondary);
}

#about > hgroup > p{
    margin-top: 20px;
}

#profile-pic {
    position: relative;
    width: min(100%,700px);
    left: max(calc(100% - min(100%,700px)),28%);
}

#others {
    padding: 30px;
    background-color: var(--primary);
    margin: auto;
    color: var(--secondary);
}

#others-parent {
    background-image:url("../images/section-bg.jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
}

#others > a {
    text-decoration: none;
    display: block;
    padding: 0;
    margin: 30px auto 30px;
    width: min(80%,350px);
    color: var(--secondary);
}

#others > a:hover {
    border: 2px solid var(--secondary);
    border-radius: 10px;
    padding: 5px;
}

.other-pages {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    padding-right: 5px;
}

.other-pages img{
    width: 100%;
    align-self: stretch;
    border-radius: 8px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.other-pages > hgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 10px;
    height: 100%;
}

.other-pages > hgroup > h4 {
    font-size: 1.2em;
    text-decoration: underline;
}

.quotes {
    padding: 5vw;
}

.slider_wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    background-color: var(--primary);
    color: var(--secondary);
    height: 150px;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 150px;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.slider::-webkit-scrollbar { 
    display: none;
}

.quote-container {
    min-width:  min(80%,300px);
    flex: 1 0 100%;
    scroll-snap-align: start;
    padding: 20px;
    scroll-margin-top: 1000px;
}

.quote-container blockquote {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--secondary);
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/*Resume Page*/
.parts {
    padding: 30px 5%;
}

#resume-top {
    background-image:url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--secondary);
    height: 100vh;
    position: relative;
}

#resume-top > hgroup {
    font-size: 1.3em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#resume-top > hgroup > p {
    margin-top: 20px;
}

#resume-pic {
    display: none;
}

#resume-about {
    background-color: var(--primary);
    color: var(--secondary);
    margin: 20px;
}

#resume-about  p {
    margin-top: 30px;
    text-align: justify;
}

#education {
    text-align: justify;
    background-color: var(--primary);
    color: var(--secondary);
    margin: 20px;
}

#education > h2, #experience > h2, #skills-parent > h2, #resume-about h2 {
    text-decoration: underline;
    font-family: 'Patrick Hand SC', cursive, sans-serif;
    font-size: 2em;
}

.school > a {
    width: 30%;
    display: block;
    margin: 0 auto;
}

#education img {
    width: min(100%,150px);
}

.allschools {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.school {
    border-bottom: 2px solid var(--secondary);
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#experience {
    background-color: var(--primary);
    color: var(--secondary);
    margin: 20px;
}

.exp {
    margin: 30px;
}

.exp > h4 {
    margin-bottom: 20px;
}

#skills-parent {
    background-color: var(--primary);
    color: var(--secondary);
    margin: 0 20px;
}

#skills {
    padding: 20px 15%;
}

.skill_container {
    width: 100%;
    height: 12px;
    border-radius: 50px;
    display: flex;
    margin: 5px 0 15px;
    background-color: var(--secondary);

}

.skill_percent {
    background-color: var(--ternary);
    border-radius: 50px;
}

.python {
    width: 90%;
}

.java {
    width: 80%;
}

.sql {
    width: 65%;
}

.git {
    width: 60%;
}

.html {
    width: 75%;
}

.creativity {
    width: 90%;
}

.critical {
    width: 90%;
}

.communication {
    width: 85%;
}

.networking {
    width: 65%;
}
.teamwork {
    width: 75%;
}

.leadership {
    width: 80%;
}

.cv {
    background-color: var(--primary);
    color: var(--secondary);
    display: block;
    width: 300px;
    padding: 15px;
    text-align: center;
    margin: 15px auto;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.2rem;
}

.cv:hover, .cv:focus{
    background-color: var(--secondary);
    color: var(--primary);
}

#document {
    text-align: center;
    font-size: 1.5em;
    padding: 30px 0;
}

/*Projects Page*/
#project-top {
    background-color: var(--primary);
    color: var(--secondary);
    min-height: 50vh;
}

#project-top * {
     margin-top: 2vw;
}

#project-top > p {
    margin-top: 20px;
}

#projects h2{
    width: 100%;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.project {
    width: min(100%, 500px);
}

.project img {
    width: 100%;
    margin-bottom: 20px;
}

.project img:hover {
    opacity: 0.7;
}

#projects div {
    padding: 10px 5%;
    margin: 10px 0;
    background-color: var(--primary);
    color: var(--secondary);
    text-align: justify;
    border-radius: 10px;
}

.project aside {
    margin: 20px 0;
    font-style: oblique;
}

/*Adventures*/
#adventure-top {
    padding: 0;
    position: relative;
    min-height: 105vh;
    background-color: rgba(10, 10, 35, 40%);
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

#adventure-top p {
    margin-top: 20px;
    text-align: left;
}

#adventure-top hgroup {
    padding: 30px 5vw;
    color: var(--secondary);
    text-shadow: 2px 2px 0 var(--primary);
    -webkit-text-stroke: var(--secondary) 0.5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#gurage {
    font-style: oblique;
    text-align: center;
    padding: 0 40px;
}

#gurage a {
    color: black;
}

#gurage a:hover, #gurage a:focus, #gurage a:active {
    color: var(--ternary);
}

#gurage > p {
    padding: 20px 0;
}


#gallery > hgroup {
    font-size: 1.2em;
}

#gallery hgroup p {
    margin: 20px 0;
}

#images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--primary);
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    row-gap: 15px;
}

#images a {
    width: min(100%,400px);
}

#images img {
    width: 100%;
}

#slaughtering {
    width: 90%;
    margin: 20px auto;
    display: block;
}

/*Entertainments*/
#entertainments-about {
    background-color: var(--primary);
    color: var(--secondary);
    min-height: 50vh;
}

#entertainments-about * {
    margin-top: 2vw;
}
.parts > hgroup {
    padding-bottom: 10px;
}

.parts > hgroup p {
    margin-top: 20px;
    text-align: justify;
}

#music-artists {
    background-image: url(../images/music_wallpaper.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    margin: 20px auto;
}

.artist {
    background-color: var(--primary);
    color: var(--secondary);
    text-align: justify;
    max-width: 300px;
    padding: 5px;
    
}

.artist img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px auto;
}

.artist h4 {
    font-size: 1.3em;
    text-align: center;
}

.artist p {
    margin: 5px 0;
}

.listen, .follow {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.listen i, .follow i {
    font-size: 2em;
}

.songs {
    text-align: center;
}

.songs p:first-of-type {
    margin: 20px auto;
}

.songs audio {
    width: 80%;
    margin-bottom: 20px;
}

#music-videos {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 30px;
    text-align: center;
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
}

#music-videos div{
    width: min(90%,500px);
    margin: 30px auto 8px;
    display: block;
}

#music-videos > p {
    width: 100%;
}

#music-videos video {
    width: 100%;
}

#teams {
    background-image: url(../images/football_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;

}

.club {
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
    max-width: 400px;
}

.club img {
    display: block;
    width: 25%;
    margin: 10px auto;
}

#trailers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    background-image: url(../images/movie_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 

#trailers li, #books li {
    list-style: none;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 5px;
    max-width: 500px;
}

#trailers hgroup {
    padding: 10px;
    text-align: center;
}

#trailers hgroup > p {
    margin-top: 10px;
}

#trailers iframe {
    width: 100%;
    display: block;
}

#books ul{
    background-image: url(../images/book_background.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

#books li {
    margin: 20px;
    background-color: var(--primary);
    text-align: center;
    max-width: 300px;
}

#books li img{
    width: 40%;
    display: block;
    margin: 20px auto;
}

/*Contact*/
#contact {
    margin: 5vw;
}

#addresses, #map-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--primary);
    color: var(--secondary);
    margin: 20px;
    border-radius: 10px;
}

#addresses h3 {
    margin-bottom: 20px;
    text-align: center;
}

#addresses li {
    list-style: none;
    margin: 10px 0;
}

#addresses div{
    margin: 20px;
    width: min(100%, 300px);
    padding: 20px;
}

#addresses a{
    font-size: 1.2rem;
}

#addresses i{
    font-size: 1.5rem;
    margin-right: 10px;
    color: var(--secondary);
    width: 30px;
    text-align: center;
    float: left;
}

#map {
    width: min(90%,500px);
    display: block;
    margin: 20px auto;
}

#contact-form {
    width: min(90%,500px);
    margin: 10px auto;
    padding: 10px;
}

#contact-form *:not(hgroup, p, h3){
    margin: 5px auto;
    border-radius: 5px;
    padding: 5px;
    display: block;
    width: 80%;
}

#contact-form button {
    width: 30%;
    margin-top: 20px;
}

#contact-form hgroup {
    margin: 20px 0;
    text-align: center;
}

